@font-face {
	font-family: RobotoSlab;
	src: url(assets/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

* {
	margin: 0;
}

body {
	color: #ddd;
	font-family: "RobotoSlab", "Helvetica", "Tahoma", "Arial";
	background-color: #111;
}

header h1 {
	margin-bottom: 1%;
}
header {
	background-color: #000;
	display: block;
	text-align: center;
	padding: 2% 0 2% 0;
	height: 100%;
}

main {
	background-color: #111;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 100%;
}

input[type=submit] {
	color: white;
	background-color: #000;
	padding: 0.5%;
	border: 5px #000 solid;
}
input[type=submit]:hover {
	background-color: #0b57d0;
	border: 5px #0b57d0 solid;
}

input[type=text] {
	font-size: 150%;
	background-color: #111;
	padding: 1%;
	font-size: 95%;
	color: white;
	border: none;
	border-bottom-color: #000;
	border-bottom-style: solid;
	border-bottom-width: 1%;
	width: 80%;
}
input[type=text]:hover {
	border-bottom-color: #0b57d0;
	border-bottom-style: solid;
	border-bottom-width: 1%;
}

input {
	outline: none;
}

table {
	width: 85%;
}

#web_result {
	display: block;
	margin: 0 5% 0 5%;
	border: 2px solid #111;
	padding: 1% 1% 1% 1%;
	width: 100%;
}

#web_result:hover {
	background-color: #222;
	border: 2px solid #999;
}

a:link {
	color: #ddd;
	text-decoration: none;
}
a:visited {
	color: #ddd;
}

#url {
	color: #0A0;
}
#url:visited {
	color: #0F0;
}

#reaction {
	display: inline;
	padding: 1.5% 1% 1% 1%;
	cursor: default;
}
#reaction:hover {
	background-color: #555;
}
#reaction_svg {
	fill: #ddd;
	display: inline-block;
}
.reaction_count {
	font-size: 150%;
	display: inline-block;
	margin-right: 1%;
	margin-left: 1%;
}
